<!DOCTYPE html>
<html>
  <head>
    <title>IxperienceAssignment</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js' %>
  <%= javascript_include_tag 'application' %>
</html>
